<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/CSS/country.css" />
    <title>아시아</title>
  </head>
  <body>
    <header>
      <img
        src="https://images.unsplash.com/photo-1602479185195-32f5cd203559?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80"
        alt=""
      />
      <div class="titlePostion">
        <h1 class="gradiantAsia">고즈넉한 아름다움 아시아</h1>
      </div>
    </header>

    <section>
      <div class="countryContent">
        <div class="countryContainer">
          <div class="goTripRecommand">
            <i class="fab fa-angellist"></i>
            GoTrip Recommand
          </div>
          <img
            src="https://images.unsplash.com/photo-1599033769063-fcd3ef816810?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80"
            alt=""
          />
          <div class="c_title">과거에 귀를 귀울이다</div>
          <p>
            경복궁은 조선 시대에 지어진 왕궁 중 가장 큰 궁궐이었다. 개국공신
            정도전은 태조로부터 첫 번째 궁궐의 이름을 지으라는 명을 받았고, 고심
            끝에 '새 왕조가 큰 복을 누려 번영할 것'이라는 의미로
            경복궁(景福宮)이라는 이름을 붙였다.
          </p>
          <button>
            <a href="https://korean.visitseoul.net/index" target="_blank"
              >서울 관광청</a
            >
          </button>
        </div>
      </div>

      <div class="countryContent">
        <div class="countryContainer">
          <div class="goTripRecommand">
            <i class="fab fa-angellist"></i>
            GoTrip Recommand
          </div>
          <img
            src="https://images.unsplash.com/photo-1613487957484-32c977a8bd62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80"
            alt=""
          />
          <div class="c_title">서브컬처 혁명, 오타쿠가 즐기는 장소</div>
          <p>
            오타쿠 문화의 구성요소인 게임, 만화, 피규어 컬렉션과 애니메이션.
            이러한 서브컬처의 발상지는 뭐니 뭐니 해도 아키하바라입니다.
            오타쿠들이 제각각 열중하는 가게가 많은 전기부품점 사이사이에 끼어
            있습니다.
          </p>
          <button>
            <a href="https://www.gotokyo.org/kr/index.html" target="_blank"
              >도쿄 관광청</a
            >
          </button>
        </div>
      </div>

      <div class="countryContent">
        <div class="countryContainer">
          <img
            src="https://images.unsplash.com/photo-1621172715450-53ca41f75d93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
            alt=""
          />
          <div class="c_title">신베이시 우라이 온천</div>
          <p>
            우라이(烏來)온천은 약 알칼리성 탄산온천으로 수질이 맑고 투명하여마실
            수 있다. 2월초에는 우라이의 벚꽃이 만개한다.약 2만그루의 벚꽃이
            손님을 기다린다. 후지 벚꽃, 붉은 벚꽃이 다투듯 피어나 온천과 함께 또
            하나의 즐거움을 안겨준다.
          </p>
          <button>
            <a href="https://www.taiwantour.or.kr/" target="_blank"
              >대만 관광청</a
            >
          </button>
        </div>
      </div>

      <div class="slideContent">
        <h1>여행가서 뭐하고 놀지</h1>
        <div class="slid__flex_column">
          <!-- asiaSlideContent.js -->
        </div>
        
      </div>
    </section>


    <script src="/JS/asiaSlideContent.js"></script>
  </body>
</html>
