<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/CSS/europe.css" />
    <title>유럽</title>
  </head>
  <body>
    <header>
      <img
        src="https://images.unsplash.com/photo-1657614816989-9915c203e3f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80"
        alt=""
      />
      <div class="titlePostion">
        <h1 class="gradiant">상상 그 이상의 즐거움 유럽</h1>
      </div>
    </header>

    <section>
      <div class="countryContent">
        <div class="countryContainer">
          <div class="goTripRecommand">
            <i class="fab fa-angellist"></i>
              GoTrip Recommand
            </div>
          <img
            src="https://images.unsplash.com/photo-1565881606991-789a8dff9dbb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1530&q=80"
            alt=""
          />
          <div class="c_title">Big Night Of Paris</div>
          <p>
            Paris, city and capital of France, situated in the north-central part of the country. For centuries Paris has been one of the world’s most important and attractive cities.
          </p>
          <button>
              <a href="https://kr.france.fr/ko" target="_blank">파리 관광청</a>
          </button>
        </div>
      </div>
      
      <div class="countryContent">
        <div class="countryContainer">
          <div class="goTripRecommand">
            <i class="fab fa-angellist"></i>
              GoTrip Recommand
            </div>
          <img
            src="https://images.unsplash.com/photo-1552751118-d3cde54807de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
            alt=""
          />
          <div class="c_title">SEE THE BEATURY OF SEA</div>
          <p>
            We organize excursions and experiences in Venice. Gondola, San Marco Square excursions and many other impressive proposals to live Venice.
          </p>
          <button>
              <a href="https://highstreetitalia.com/" target="_blank">이탈리아 관광청</a>
          </button>
        </div>
      </div>

      <div class="countryContent">
        <div class="countryContainer">
          <img
            src="https://images.unsplash.com/photo-1579033461380-adb47c3eb938?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80"
            alt=""
          />
          <div class="c_title">Northern Lights Catch The Moment</div>
          <p>
            Northern Lights tours are great because the tour operators have been chasing the Northern Lights for years and can find the best spots for potential viewing even when there is low hanging cloud cover.
          </p>
          <button>
              <a href="https://www.visitnorway.com/" target="_blank">노르웨이 관광청</a>
          </button>
        </div>
      </div>

    </section>

    
  </body>
</html>
