<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/europe.css">
    <title>유럽에 오신것을 환영합니다</title>
</head>
<body>
    <div class="movieContainer">
        <div class="movieBox">
            <div class="movieContent">
                <h1>해리포터</h1>
                <div class="movieSubtitle">역대급 시리즈 촬영지는?</div>
                <iframe src="https://giphy.com/embed/d6Ni9aqSatPfq" width="300" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
        <div class="movieBox">
            <div class="movieContent">
                <h1>탑건 매버릭</h1>
                <div class="movieSubtitle">톰크루즈 완벽 비행 촬영지는?</div>
                <iframe allow="fullscreen" frameBorder="0" height="400" src="https://giphy.com/embed/0l6aEm7BH07AMKFzuo/video" width="300"></iframe>
            </div>
        </div>
        <div class="movieBox">
            <div class="movieContent">
                <h1>기생충</h1>
                <div class="movieSubtitle">기생충은 어디서 촬영했을까?</div>
                <iframe src="https://giphy.com/embed/m9dI0IPeFnj8TJZDTa" width="300" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
        <div class="movieBox">
            <div class="movieContent">
                <h1>오징어 게임</h1>
                <div class="movieSubtitle">넷플릭스를 휩쓸은 오징어 게임의 촬영지는?</div>
                <iframe src="https://giphy.com/embed/PQ0VI3S5vqL5pwQQJX" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
        <div class="movieBox">
            <div class="movieContent">
                <h1>기묘한 이야기 시즌4</h1>
                <div class="movieSubtitle">배크나는 어디서 살고있을까?</div>
                <iframe src="https://giphy.com/embed/h4x5JHXczHtqgvcLYs" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
        
    </div> 
</body>
</html>