<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/home.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <title>여행지 추천 플랫폼 goTrip</title>
</head>
<body>
    <!-- navbar -->
    <section class="navbar">
        <div class="navbarInnerContainer containerWidth">
            <div class="navbar_Top">
                <div class="navbar_Search">
                    <div class="navbar_left">
                        <div><i class="fas fa-search"></i></div>
                        <div class="navbar_subTitle">
                            <div>어디로 여행가세요?</div>
                            <div class="navbar_miniTitle">어디든지 언제든지 일주일이상 여행하고 싶을때</div> 
                        </div>
                    </div>  
                    <div class="navbar_setting">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>
            </div>
            <div class="navbarOptions">
                
            </div>
        </div>
    </section>

    <!-- body -->
    <section class="contentBody">
        <div>
            <h1>다양한 일본의 음식을 만나보는건 어때요?</h1>
            <div class="bodyImageContainer">
                <img src="https://source.unsplash.com/collection/4415342/300x300" alt="">
            </div>
            <div>
            </div>
        </div>
        <div>
            <h1>단풍국의 아름다움</h1>
            <div class="bodyImageContainer">
                <img src="https://source.unsplash.com/collection/8303582/300x300" alt="">
            </div>
            <div>
            </div>
        </div>
        <div>
            <h1>자유, 행복 그리고 아름다운 사랑이 있는 나라</h1>
            <div class="bodyImageContainer">
                <img src="https://source.unsplash.com/collection/3470263/300x300" alt="">
            </div>
            <div>
            </div>
        </div>
        <div>
            <h1>아름다운 자연과 함께하는건 어때요?</h1>
            <div class="bodyImageContainer">
                <img src="https://source.unsplash.com/collection/6804475/300x300" alt="">
            </div>
            <div>
            </div>
        </div>
    </section>
    <!-- bottom -->
    <footer class="contentFooter">
        <div class="footerBox"> 
            <div class="rowBox fotterFont">
                <i class="fab fa-airbnb"></i>
                <div>GoTrip</div>
            </div>
            <div class="columnBox fotterFont">
                <div class="footerTitle">회사</div>
                <div>상세정보</div>
                <div>우리가 추구하는 여행의 가치</div>
            </div>
            <div class="columnBox fotterFont">
                <div class="footerTitle">커뮤니티</div>
                <div>아시아</div>
                <div>유럽</div>
                <div>아메리카</div>
            </div>
            <div class="columnBox fotterFont">
                <div class="footerTitle">유용한 링크</div>
                <div>Skyscanner</div>
                <div>Airbnb</div>
            </div>
        </div>
    </footer>


    <script src="/JS/home.js"></script>
</body>
</html>