<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/movie.css">
    <title>영화속 촬영지</title>
</head>
<body>
    <div class="movieContainer">
        <div class="movieBox">
            <div class="movieContent">
                <h1>해리포터</h1>
                <div class="movieSubtitle">해리포터는 어디서 촬영했을까?</div>
                <iframe src="https://giphy.com/embed/d6Ni9aqSatPfq" width="300" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1565292266983-74457d481f44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: London (UK)</h4>
                        <h4>#글로스터대성당</h4>
                    </div>
                </div>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1618944847828-82e943c3bdb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: London (UK)</h4>
                        <h4>#킹스 크로스역</h4>
                        
                    </div>
                </div>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/20/cambridge.JPG?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1694&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: London (UK)</h4>
                        <h4>#옥스포드 크라이스트 처치 칼리지</h4>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="movieBox">
            <div class="movieContent">
                <h1>탑건 매버릭</h1>
                <div class="movieSubtitle">톰크루즈 완벽 비행 촬영지는?</div>
                <iframe allow="fullscreen" frameBorder="0" height="400" src="https://giphy.com/embed/0l6aEm7BH07AMKFzuo/video" width="300"></iframe>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1580236559757-3db5917ee9aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: San diego (US)</h4>
                        <h4>#라구나 비치</h4>
                    </div>
                </div>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1520437358207-323b43b50729?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: San diego (US)</h4>
                        <h4>#샌디에고 공항</h4>
                        
                    </div>
                </div>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1534296264129-b318f8140c27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: Incheon (KOR)</h4>
                        <h4>#인천 소래포구</h4>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="movieBox">
            <div class="movieContent">
                <h1>기생충</h1>
                <div class="movieSubtitle">기생충은 어디서 촬영했을까?</div>
                <iframe src="https://giphy.com/embed/m9dI0IPeFnj8TJZDTa" width="300" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                <div class="contentOfMovieTour">
                    <img src="https://www.indiewire.com/wp-content/uploads/2019/10/Parasite_Parks_Garden-1.jpg" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: Pyeongchang-dong (KOR)</h4>
                        <h4>#평창동</h4>
                    </div>
                </div>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1540175496787-f3afe88ebc00?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1722&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: Seoul (KOR)</h4>
                        <h4>#여의도</h4>
                        
                    </div>
                </div>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1506809211073-d0785aaad75e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: Seoul (KOR)</h4>
                        <h4>#광화문</h4>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="movieBox">
            <div class="movieContent">
                <h1>오징어 게임</h1>
                <div class="movieSubtitle">넷플릭스를 휩쓸은 오징어 게임의 촬영지는?</div>
                <iframe src="https://giphy.com/embed/PQ0VI3S5vqL5pwQQJX" width="300" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1455472467710-3b204ed59394?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: Gyeonggi (KOR)</h4>
                        <h4>#CJ 영화 스튜디오</h4>
                    </div>
                </div>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1600660792241-240f01455c6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: Gyeonggi (KOR)</h4>
                        <h4>#CJ 영화 스튜디오</h4>
                        
                    </div>
                </div>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1636542980176-cd7822b5a5cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1288&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: Gyeonggi (KOR)</h4>
                        <h4>#CJ 영화 스튜디오</h4>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="movieBox">
            <div class="movieContent">
                <h1>기묘한 이야기 시즌4</h1>
                <div class="movieSubtitle">배크나의 나혼자 산다</div>
                <iframe src="https://giphy.com/embed/h4x5JHXczHtqgvcLYs" width="300" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1602562086757-78809c34ceb4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: UNDERGROUND</h4>
                        <h4>#파악불가</h4>
                    </div>
                </div>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1545294027-390927441147?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: UNDERGROUND</h4>
                        <h4>#파악불가</h4>
                    </div>
                </div>
                <div class="contentOfMovieTour">
                    <img src="https://images.unsplash.com/photo-1564737637408-b6d3815e17d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
                    <div class="contentOfMovieTour__Explanatoin">
                        <h4>위치: UNDERGROUND</h4>
                        <h4>#파악불가</h4>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>