<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/CSS/search.css" />
    <title>여행지 검색하기</title>
  </head>
  <body>
    <section class="searchContainer">
      <section class="s__container">
        <div class="contain1">
          <a href="/goTrip"><i class="fas fa-angle-left">홈</i></a>
          <div class="houseAndActive">
            <div class="search__activity">체험</div>
            <div class="search__hotel">여행</div>
          </div>
          <div class="i_hidden">
            <i class="fas fa-filter"></i>
          </div>
        </div>
        <div class="contain2 containTwoBox">
          <h2 class="contain2__title">
            <!-- JS -->
          </h2>
          <form action="/goTrip" method="POST" class="input-group mb-3">
            <input
              name="search[location]"
              type="text"
              class="form-control"
              placeholder="유럽"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-outline-secondary"
              type="submit"
              id="button-addon2"
            >
              검색하기
            </button>
          </form>
          <div class="searchList">
            <!-- js -->
          </div>
        </div>
        <div class="contain3">
          <div class="searchOptionBox travelTour">
            <div class="search travelDestination">영화</div>
            <a href="/goTrip/movieTour"><div>영화속 장면 어디서 찍었지?</div></a>
          </div>
          <div class="searchOptionBox activityTour">
            <div>체험</div>
            <a href="/goTrip/tripContent"><div>다양한 체험하러가기</div></a>
          </div>
        </div>
      </section>
      
      <section class="searchFotterBox">
        <div class="searchFooter">
          <div><a href="/goTrip/register">당신을 알려주세요</a></div>
          <!-- <div>당신을 알려주세요</div> -->
        </div>
      </section>
    </section>



    <script src="/JS/search.js"></script>
    <script src="/JS/searchOptions.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
