<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/CSS/country.css" />
    <title>아시아</title>
  </head>
  <body>
    <header>
      <a href="/goTrip/search"
        ><i class="fas fa-angle-left goBack">뒤로가기</i></a
      >
      <img
        src="https://images.unsplash.com/photo-1586274677440-231405a4c74c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80"
        alt=""
      />
      <div class="titlePostion">
        <h1 class="gradiantSeoul">어서와 서울은 처음이지?</h1>
      </div>
    </header>

    <section class="countryBodyContainer">
      <section class="countyContentBody">
        <!-- seoulContentBody.js -->
      </section>
    </section>

    <section>
      <h1 class="slide_title">K-드라마 속 장소</h1>
      <div class="slideContent">
        <div class="slid__flex_column">
          <!-- seoulSlideContent.js -->
        </div>
      </div>
    </section>

    <script src="/JS/country/seoulContentBody.js"></script>
    <script src="/JS/country/seoulSlideContent.js"></script>
  </body>
</html>
