<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/CSS/country.css" />
    <title>도쿄</title>
  </head>
  <body>
    <header>
      <a href="/goTrip/search"
        ><i class="fas fa-angle-left goBack">뒤로가기</i></a
      >
      <img
        src="http://file3.instiz.net/data/file3/2018/01/30/0/0/7/0078559e3fe86dabf6120462a36da845.jpg"
        alt=""
      />
      <div class="titlePostion">
        <h1 class="gradiantTokyo">忘れちゃだめな人</h1>
      </div>
    </header>

    <section class="countryBodyContainer">
      <section class="countyContentBody">
        <!-- seoulContentBody.js -->
      </section>
    </section>

    <section class="slide__container">
      <section class="slide_box">
        <h1 class="slide_title">도쿄에 오신것을 환영합니다</h1>
        <div class="slideContent">
          <div class="slid__flex_column">
            <!-- seoulSlideContent.js -->
          </div>
        </div>
      </section>
    </section>

    <script src="/JS/country/tokyoContentBody.js"></script>
    <script src="/JS/country/tokyoSlideContent.js"></script>
  </body>
</html>
