<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/CSS/tripContent.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />

    <title>다양한 체험</title>
  </head>
  <body>
    <section class="tripContentOne">
      <div class="tripContentNavBar">
        <div><a href="/goTrip">GOTRIP</a></div>
        <div>스페인</div>
      </div>

      <div class="tripContentTitleAndImg">
        <div class="tripTitleContentBox">
          <div class="tripContentOneTitle">마고트립 9월호</div>
          <div class="tripContentOneTitle tripContentOneTitle">
            <span class="tripTitleContentCntName onTitle">미리만나는 스페인</span>
          </div>
          <div class="tripContentSubTitle">
            특별한 글씨를 터치해보세요 무슨일이 일어날지 궁금하지 않나요?
          </div>
        </div>
        <div class="spainCampingIcon hide"><i class="fas fa-campground"></i></div>
      </div>
    </section>

    <!-- <section class="tripContentTwo">
      <div clsss="tripContentTwoLogo">
        <i class="tripContentTwoLogo fab fa-airbnb"></i>
      </div>
      <div class="tripContentTwoInfo">
        <div class="tripContentTwoTitle"><span>700만 명</span>의 여행자</div>
        <div class="tripContentTwoTitle"><span>100만 개</span>의 여행 리뷰</div>
        <div class="tripContentTwoTitle"><span>470만 개</span>의 여행 일정</div>
      </div>
      <div class="tripContentTwoAwardBox">
        <div class="tripContentTwoAward">
          <i class="fas fa-medal"></i>
          <div>
            <div>최고의 유럽 관광지</div>
            <div>여행하기 좋은 나라 수상</div>
          </div>
        </div>
        <div class="tripContentTwoAward">
          <i class="fab fa-app-store"></i>
          <div>
            <div>2022 세계 여행자 커뮤니티</div>
            <div>가장 가보고 싶은 나라 선정</div>
          </div>
        </div>
      </div>
    </section> -->

    <script src="/JS/spain.js"></script>
  </body>
</html>
