<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/CSS/country.css" />
    <title>트롬소</title>
  </head>
  <body>
    <header>
      <a href="/goTrip/search"
        ><i class="fas fa-angle-left goBack">뒤로가기</i></a
      >
      <img
        src="https://images.unsplash.com/photo-1539629501796-f72b98cae45c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1555&q=80"
        alt=""
      />
      <div class="titlePostion">
        <h1 class="gradiantTromso">극야가 가장 아름다운 도시</h1>
      </div>
    </header>

    <section class="countryBodyContainer">
      <section class="countyContentBody">
        <!-- seoulContentBody.js -->
      </section>
    </section>

    <section>
      <h1 class="slide_title">스칸디나비아</h1>
      <div class="slideContent">
        <div class="slid__flex_column">
          <!-- seoulSlideContent.js -->
        </div>
      </div>
    </section>

    <script src="/JS/country/tromsoContentBody.js"></script>
    <script src="/JS/country/tromsoSlideContent.js"></script>
  </body>
</html>
