body{
    margin:0;
}

a{
    text-decoration: none;
    color:white;
}

header img{
    width: 100%;
    height: 25rem;
}
.titlePostion{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top:11%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gradiantEurope{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color:transparent;
    -webkit-background-clip: text;
}
.gradiantAsia{
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    color:transparent;
    color:transparent;
    -webkit-background-clip: text;    
}
.gradiantMediterranean{
    background: linear-gradient(to left, #289cab, #F1F2B5);
    color:transparent;
    -webkit-background-clip: text;
    
}

.countryContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #f5ebe0;
    margin-top:10%;
}
.goTripRecommand{
    font-weight: bold;
}
.countryContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 95%;
    /* background-color: rgb(138, 108, 69); */
}
.countryContent img{
    max-width: 400px;
    width: 100%;
    height: 366px;
}
.c_title{
    margin-top: 10px;
    font-size: 2.5rem;
    font-weight: bold;
}
button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: black;
    font-size: 15px;
    font-weight: bold;
}
.slideContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10%;
    width: 100%;
    height: auto;
    overflow: scroll;
}
.slideContent img{
    width: 280px;
    height: 280px;
}
.slideContent h1{
    margin-left: 20px;
    margin-top: 0;
}
.slideTourBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    width: 70%;
    /* background-color: #70e1f5; */
    margin: 10px;
    margin-top: 0px;
}
.slid__flex__wrap{
    display: flex;
    flex-direction: row;
}
.slid__flex_column{
    display: flex;
}


.position__sticky{
    position: sticky;
    left:1px;
}