body{
    margin:0;
}

a{
    text-decoration: none;
    color:white;
}
header{
    display: flex;
    justify-content: center;
}
header img{
    width: 100%;
    height: 23rem;
    max-width: 800px;
}
.titlePostion{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top:15%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
}
.engFontStyle{
    font-family: 'Roboto', sans-serif;
}
.gradiantEurope{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color:transparent;
    -webkit-background-clip: text;
}
.gradiantAsia{
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    color:transparent;
    color:transparent;
    -webkit-background-clip: text;    
}
.gradiantMediterranean{
    background: linear-gradient(to left, #289cab, #F1F2B5);
    color:transparent;
    -webkit-background-clip: text;
    
}
.gradiantSeoul{
    background: linear-gradient(to left, #ffdb77, #fceabb);
    color:transparent;
    -webkit-background-clip: text;
}
.gradiantTokyo{
    background: linear-gradient(to right, #92FE9D, #59dbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:transparent;
    -webkit-background-clip: text;      
}
.gradiantTromso{
    background: linear-gradient(to right, #F8FFAE, #93ffe9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:transparent;
    -webkit-background-clip: text;   
}

.countryBodyContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.countryContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #f5ebe0;
    margin-top:10%;
    max-width: 800px;
}
.goTripRecommand{
    font-weight: bold;
}
.countryContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 95%;
    /* background-color: rgb(138, 108, 69); */
}
.countryContent img{
    max-width: 768px;
    width: 100%;
    height: 366px;
}
.c_title{
    margin-top: 10px;
    font-size: 2.5rem;
    font-weight: bold;
}
button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: black;
    font-size: 15px;
    font-weight: bold;
}
.slideContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10%;
    width: 100%;
    height: auto;
    margin-top: 0;
    overflow: scroll;
}
.slideContent img{
    width: 280px;
    height: 280px;
}
.slideContent h1{
    margin-left: 20px;
    margin-top: 0;
}
.slideTourBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    width: 70%;
    margin: 10px;
    margin-top: 0px;
}
.slid__flex__wrap{
    display: flex;
    flex-direction: row;
}
.slid__flex_column{
    display: flex;
}

.slide_title{
    margin-left: 20px;
}
.goBackBox{
    width: 100%;
    position:fixed;
}
.goBack{
    position:absolute;
    top:20px;
    left:10px;
    color:#f9b700;
}


@media only screen and (min-width: 768px) {
    .titlePostion{
        top:7%;
    }
    .countryContent img{
        max-width: 800px;
        width: 100%;
        height: 450px;
    }
    .countryContent{
        height: 630px;
        padding:10px;
    }
    .slide__container{
        display: flex;
        width: auto;
    }
    .slide_box{
        display: flex;
        flex-direction: column;
        max-width: 1200px;
    }
    .slideContent img{
        width: 250px;
        height: 250px;
    }
    .slide_title{
        font-size: 25px;
    }
    .c_title{
        margin-top: 5px;
        font-size: 2rem;
    }
    .countryContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 100%;
        /* background-color: rgb(138, 108, 69); */
    }
}