body{
    margin:0;
}
a{
    text-decoration: none;
}
.textStyle{
    font-family: 'Roboto', sans-serif;
}
.homeNavbar a{
    color:white;
}
.headerCheckContent a{
    color:rgb(37, 139, 170);
    font-weight: bold;
}
.backGroundImg img{
    /* position:absolute; */
    position: absolute;
    top:7%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1600px;

    width: 100%;
    max-height: 1000px;
    filter:grayscale(30%);
    z-index: -1;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 750px;
    /* background-color: aqua; */
}
.headerTopNavBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
    width: 95%;
    max-width: 768px;
}
.homeNavbar{
    display:flex;
    justify-content: space-between;
    color:white;
    font-size: 20px;
    padding:10px;
    font-weight: bold;
}

.homeDropDown{
    color:white;
    margin-top:7%;
    margin-bottom: 2%;
}
.dropDownCity{
    font-size: 30px;
    font-weight: bold;
}
.homeHeaderContent{
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 768px;
    /* border-bottom: 1px solid black; */
}

.headerContentTopBox{
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    padding:13px;
    border-bottom: 1px dashed black;
}
.headerContentBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.headerContentBox i{
    font-size: 35px;
    margin-bottom: 10px;
}

.headerCountryInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    margin-top: 10%;
    background-color: rgba(187, 187, 187, 0.3);
    height: 150px;
    padding:30px;
}
.infoBorder{
    border-bottom: 1px solid black;
}
.headerInfoDenieOrAccess{
    display: flex;
    justify-content: space-around;
    /* background-color: aliceblue; */
    width: 100%;
}
.headerCountryInfoDenided{
    margin-top:5%;
    color:rgb(255, 74, 98);
    font-size: 30px;
    font-weight: bold;
}
.headerCountryInfoAccess{
    margin-top:5%;
    color:rgb(117, 198, 128);
    font-size: 30px;
    font-weight: bold;
}
.headerCountryInfoCondition{
    margin-top:5%;
    color:rgb(153, 89, 255);
    font-size: 30px;
    font-weight: bold;
}
.headerCheckContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    font-size: 15px;
}

@media only screen and (min-width: 767px) {
    .homeDropDown{
        padding-left: 15px;
    }
    .homeNavbar{
        padding:15px;
    }
}