body{
    margin:0;
    color:white;
    background-color: rgb(47, 47, 47);
}
.movieContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin-bottom:0;
}



.movieBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 414px;
    height: 549px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
    /* background-color: pink; */
}
.movieContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* flex-flow:wrap; */
    overflow: scroll;
    height: 100%;
    width: 90%;
}

.contentOfMovieTour{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 30%;
    /* background-color: aliceblue; */
    margin:10px 0;
    border-bottom: 1px solid white;
    padding:15px;
}
.contentOfMovieTour img{
    width: 40%;
    height: 90%;
    border-radius: 30px;
}
.contentOfMovieTour__Explanatoin{
    width: 50%;
    /* background-color: aliceblue; */
}
.hidden_content{
    visibility: hidden;
}
.movieSubtitle{
    padding: 10px;
}