body{
    margin:0;
}
.register__title_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    box-shadow: 1px 1px 1px 1px rgba(71, 71, 71, 0.1);
    /* background-color: bisque; */
}
.register__logo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.register__logo i{
    margin-right: 5px;
}

.register__head__title{
    font-size: 30px;
    font-weight: bold;
}
.register__btn__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.login__round__box{
    width: 80%;
    height: 50px;
    border-radius: 30px;
    margin: 10px;
    font-size: 17px;
}
.login__postion__box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.login__postion__box i{
    margin-right: 10px;
}
.login__facebook{
    background-color: rgb(115, 115, 255);
    color: white;
}
.login__google{
    background-color: transparent;
    border: 2px solid black;
}  


.register__input__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;

}
.register__input__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    /* background-color: palegoldenrod; */
}
form{
    width: 100%;
}
.register__input__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}
.register__input__box label{
    font-weight: bold;
    margin:10px 0;
}
.register__input__box input{
    width: 100%;
    height: 40px;
}
button{
    padding:10px;
    width: 100px;
    height: 50px;
    background-color: transparent;
}