body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color:white;
}
.tripContentNavBar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.tripContentOne{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    /* height: 700px; */
    min-height: 896px;
    max-height: 1300px;
    background-image: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074&q=80");
    color:white;
}
.testUrl1{
    background-image: url("https://images.unsplash.com/photo-1519414442781-fbd745c5b497?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1764&q=80");
}
.testUrl2{
    background-image: url("https://images.unsplash.com/photo-1458869612855-bb6009d50368?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}
.testUrl3{
    background-image: url("https://images.unsplash.com/photo-1499946981954-e7f4b234d7fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}
.hide{
    visibility: hidden;
}
.tripTitleContentBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tripContentOneTitle{
    font-size: 45px;
    font-weight: bold;
    animation: textOpacity ease-in-out 0.7s;
}
.tripContentSubTitle{
    display: flex;
    justify-content: center;
    /* background-color: #000000; */
    margin-top: 15px;
    width: 100%;
    animation: textOpacity ease-in-out 0.7s;
}
.spainCampingIcon{
    margin-top:50px;
    animation: textOpacity ease-in-out 0.7s;
}
.spainCampingIcon i{
    font-size: 400px;
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:transparent;
    -webkit-background-clip: text;
}
.tripTitleContentCntName{
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:transparent;
    -webkit-background-clip: text;
}

.tripContentTitleAndImg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color:rgb(0, 0, 0); */
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tripContentTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 560px;
    background-image: url("https://images.unsplash.com/photo-1572896487174-665ab9be3506?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1925&q=80");
}

.tripContentTwoLogo{
    font-size: 80px;
    color:rgb(255, 140, 159);
}
.tripContentTwoInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0px;
}
.tripContentTwoTitle{
    font-size: 23px;
}
.tripContentTwoTitle span{
    font-weight: bold;
}
.tripContentTwoAwardBox{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* background-color: white; */
}
.tripContentTwoAward{
    display: flex;
    align-items: center;
}
.tripContentTwoAward i{
    font-size: 30px;
    margin-right: 5px;
}
.fa-medal{
    color:rgb(232, 185, 0);
}
.fa-app-store{
    color:blue;
}

.tripContentSpain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    height: 700px;
    color:white;
    background-image: url("https://images.unsplash.com/photo-1502919963290-40096b6983ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
    /* background-image: url("https://images.unsplash.com/photo-1531649755688-af9ee584c794?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80"); */
}
.tripContentSpainTitle{
    font-size: 35px;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    .tripContentOne{
        justify-content: space-evenly;
    }
    .tripContentTitleAndImg{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        max-width: 1300px;
    }
    .tripContentOneTitle{
        justify-content: flex-start;
        font-size: 80px;
    }
    .phoneBox{
        margin:0px;
    }
}
