<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/homeCountry.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <title>일본 여행정보</title>
  </head>
  <body>
    <section>
      <div class="backGroundImg">
        <img
          src="https://images.unsplash.com/photo-1505322022379-7c3353ee6291?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80"
          alt=""
        />
      </div>

      <header>
        <section class="headerTopNavBar">
          <div class="homeNavbar">
            <div><i class="fas fa-bars"></i></div>
            <div><a href="/goTrip">goTrip</a></div>
            <div><i class="fas fa-search"></i></div>
          </div>
          <div class="homeDropDown">
            <div>일본</div>
            <div class="dropDownCity">오사카</div>
          </div>
        </section>
        <div class="homeHeaderContent">
          <div class="headerContentTopBox">
            <div class="headerContentBox">
              <div><i class="fas fa-ticket-alt" style="color:rgb(255, 183, 0)"></i></div>
              <div>투어*티켓</div>
            </div>
            <div class="headerContentBox">
              <div><i class="fas fa-home" style="color:rgb(235, 100, 123)"></i></div>
              <div>숙소</div>
            </div>
            <div class="headerContentBox">
              <div><i class="fas fa-plane" style="color:rgb(51, 205, 252)"></i></div>
              <div>항공권</div>
            </div>
          </div>
          <div class="headerCountryInfo">
            <div class="headerInfoDenieOrAccess">
                <div class="headerContentBox">
                    <div>일본 입국</div>
                    <div class="headerCountryInfoDenided">입국 금지</div>
                  </div>
                  <div class="headerContentBox">
                    <div>한국 귀국</div>
                    <div class="headerCountryInfoAccess">격리 없음</div>
                  </div>
            </div>
            <div class="headerCheckContent">
              <div><span style="font-weight: bold;">백신 접종자 기준 </span>(출처 : 각국 외교부)</div>
              <div>귀국 전 PCR 검사, 절차 등
                상세 조건을 확인하세요</div>   
            </div>
          </div>
          <div></div>
        </div>
      </header>
    </section>
  </body>
</html>
