<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/homeCountry.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>노르웨이 여행정보</title>
  </head>
  <body>
    <section>
      <div class="backGroundImg">
        <img
          src="https://images.unsplash.com/photo-1531366936337-7c912a4589a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
          alt=""
        />
      </div>

      <header>
        <section class="headerTopNavBar">
          <div class="homeNavbar">
            <div><a href="/goTrip"><i class="fas fa-caret-left"></i></a></div>
            <div class="textStyle"><a href="/goTrip">goTrip</a></div>
            <div><i class="fas fa-search"></i></div>
          </div>
          <div class="homeDropDown">
            <div>노르웨이</div>
            <div class="dropDownCity">오슬로</div>
          </div>
        </section>
        <div class="homeHeaderContent">
          <div class="headerContentTopBox">
            <div class="headerContentBox">
              <div>
                <i
                  class="fas fa-ticket-alt"
                  style="color: rgb(255, 183, 0)"
                ></i>
              </div>
              <div>투어*티켓</div>
            </div>
            <div class="headerContentBox">
              <div>
                <a href="https://www.airbnb.co.kr/s/%EC%98%A4%EC%8A%AC%EB%A1%9C--%EB%85%B8%EB%A5%B4%EC%9B%A8%EC%9D%B4/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&place_id=ChIJOfBn8mFuQUYRmh4j019gkn4" target="__blank"><i class="fas fa-home" style="color: rgb(235, 100, 123)"></i></a>
              </div>
              <div>숙소</div>
            </div>
            <div class="headerContentBox">
              <div>
                <a href="https://www.skyscanner.co.kr/" target="__blank"><i class="fas fa-plane" style="color: rgb(51, 205, 252)"></i></a>
              </div>
              <div>항공권</div>
            </div>
          </div>
          <div class="headerCountryInfo">
            <div class="headerInfoDenieOrAccess">
              <div class="headerContentBox">
                <div>노르웨이 입국</div>
                <div class="headerCountryInfoAccess">입국 가능</div>
              </div>
              <div class="headerContentBox">
                <div>백신 접종</div>
                <div class="headerCountryInfoAccess">필수 아님</div>
              </div>
            </div>
            <div class="headerCheckContent">
              <div>
                <span style="font-weight: bold">일본 여행 계획 전 </span>(출처 :
                네이버 여행정보)
              </div>
              <div>비자 ,PCR 검사, 입국 절차 등 <a href="https://travel.naver.com/overseas/NO190455/country/summary" target="__blank">상세 조건</a>을 확인하세요</div>
            </div>
          </div>
        </div>
      </header>
    </section>
  </body>
</html>
