<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/error.css" />
    <title>찾을 수 없습니다</title>
  </head>
  <body>
    <section class="errorContainer">
      <section class="errorBox">
        <div>
          <div><h1 style="color:rgb(255, 111, 111)">정확히 입력해주세요</h1></div>
          <div><h1><span style="color:black"><%- error_loc %></span>은 지원하지 않는 나라입니다.</h1></div>
          <div><h3>현재 지원 국가 서비스 [유럽, 지중해, 도쿄, 아시아, 서울, 트롬소]</h3></div>
        </div>
        <a href="/goTrip/search">이전으로</a>
      </section>
    </section>
  </body>
</html>
